body {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #212121;

  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;

  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  border:0;
  background: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.icon-btn {
  cursor: pointer;

  width: 100%;
  height: 100%;
  min-width: 15px;
  min-height: 15px;

  padding: 15% 25%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  text-align: center;

  color: $white;
  background-color: $dark;
  border: 1px solid $dark;

  transition: all .3s;

  svg {
    width: 100%;
    height: auto;

    opacity: 0.6;

    transition: all .3s;
  }

  &:hover,
  &:focus {
    svg {
      opacity: 1;
    }
  }

  &.active {
    border-color: $primary;
  }
}

.input-color {
  width: 100%;
  min-height: 20px;

  padding: 0;
  border: 1px solid $light-grey;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
    border: 0;
  }

  &::-webkit-color-swatch {
    padding: 0;
    border: 0;
  }
}

.input-range {
  height: 22px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;

  background-color: transparent;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #757575;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  &::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1.54px solid $primary;
    height: 13px;
    width: 13px;
    border-radius: 21px;
    background: $white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #757575;
  }
  &::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #757575;
    border-radius: 0px;
    border: 0px solid #000000;
  }
  &::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1.54px solid $primary;
    height: 13px;
    width: 13px;
    border-radius: 21px;
    background: $white;
    cursor: pointer;
  }
  &::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: #757575;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  &::-ms-fill-upper {
    background: #757575;
    border: 0px solid #000000;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000;
  }
  &::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1.54px solid $primary;
    height: 13px;
    width: 13px;
    border-radius: 21px;
    background: $white;
    cursor: pointer;
  }
  &:focus::-ms-fill-lower {
    background: #757575;
  }
  &:focus::-ms-fill-upper {
    background: #757575;
  }
}

.row {
  display: flex;

  margin: -0.5px;

  & > .col {
    margin: 0.5px;
  }
}

.col {
  flex: 1 1 auto;
}

.bg-dark {
  background-color: $dark;
}

*:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.eyedropper-indicator {
  position: absolute;

  width: 40px;
  height: 40px;

  border-radius: 0.5rem;
  box-shadow: 2px 2px 6px 0px rgba(34, 60, 80, 1);
  z-index: 999;
}
